<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413525242718-c5jj60rn3sgbp8b0qkor9h2bk49ssspt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413525242718-c5jj60rn3sgbp8b0qkor9h2bk49ssspt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413525242718-4ak0ci3rsh0l0o1emr6scceclpru71hg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB9Y1HfSuTwONsAxAly1eM-os_Bu7-hYc</string>
	<key>GCM_SENDER_ID</key>
	<string>413525242718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cz.Catch-Up</string>
	<key>PROJECT_ID</key>
	<string>schnellfirebase-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>schnellfirebase-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413525242718:ios:dfe3bde3af88239b</string>
	<key>DATABASE_URL</key>
	<string>https://schnellfirebase-dev.firebaseio.com</string>
</dict>
</plist>