<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283199006319-9n4u5ti9b33qvfbpup0atigfpbo48tge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283199006319-9n4u5ti9b33qvfbpup0atigfpbo48tge</string>
	<key>API_KEY</key>
	<string>AIzaSyBMNT78HhLHu3N4UJgCmaC034OS-jZOG64</string>
	<key>GCM_SENDER_ID</key>
	<string>283199006319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cz.Catch-Up</string>
	<key>PROJECT_ID</key>
	<string>iosdev-667ad</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdev-667ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283199006319:ios:dfe3bde3af88239b</string>
	<key>DATABASE_URL</key>
	<string>https://iosdev-667ad.firebaseio.com</string>
</dict>
</plist>